body {
    margin: 0;
}
header {
    text-align: center;
    background-color: lightgrey;
    margin-bottom: 2rem;
    padding: 1rem;
}
main{
    width: 80%;
    margin: auto;
}
.red{
    background-color: red;
}