html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
}
header, footer {
    text-align: center;
    background-color:#4D6E5A;
    margin-bottom: 2rem;
    padding: 1rem;
    color: whitesmoke;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    margin-bottom: 0;

}
main{
    width: 80%;
    margin: auto;
}
.red{
    background-color: red;
}

td, th {
    text-align: left;
    padding: 15px;
}
tr:nth-child(even){
    background-color: #EEEEEE
}
td{
    margin: 0;
    border: none;
}
thead{
    background-color:lightgrey;
}
table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
h2{
    text-align: center;
    color: #4D6E5A;
}
input{
    padding: 5px;
    border-radius: 10px;
}
button{
    cursor:pointer;
    padding: 5px;
    border-radius: 10px;
}
